<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coda parser</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Coda Parser API</h1>
        <p>API for parse coda file and return JSON</a></p>
        <a href="https://afrologix.com" class="btn btn-primary btn-lg">View our website</a>
    </div>
</div>

</body>
</html>